venv/
lib/
testing.py/
pocketsphinxpractice.py/
/Scripts
Brew day 10-28-2020
Brew day 11-4-2020
brew-butle-4a86125eb167.json
gui_mockup.py
pocketsphinxpractice.py
pyvenv.cfg
watson_practice.py
__pycache__/helper.cpython-38.pyc
__pycache__/grabber.cpython-38.pyc
brew_butler/pyvenv.cfg
brew_butler/Scripts/activate
brew_butler/Scripts/activate.bat
brew_butler/Scripts/Activate.ps1
brew_butler/Scripts/chardetect.exe
brew_butler/Scripts/deactivate.bat
brew_butler/Scripts/easy_install-3.8.exe
brew_butler/Scripts/fixup_speech_v1_keywords.py
brew_butler/Scripts/easy_install.exe
brew_butler/Scripts/fixup_speech_v1p1beta1_keywords.py
brew_butler/Scripts/gtts-cli.exe
brew_butler/Scripts/pip.exe
brew_butler/Scripts/pip3.exe
brew_butler/Scripts/pip3.8.exe
__pycache__/grabber.cpython-38.pyc
__pycache__/helper.cpython-38.pyc
brew_butler/Scripts/pyrsa-decrypt.exe
brew_butler/Scripts/pipwin.exe
brew_butler/Scripts/pyrsa-encrypt.exe
brew_butler/Scripts/pyrsa-keygen.exe
brew_butler/Scripts/pyrsa-sign.exe
brew_butler/Scripts/pyrsa-priv2pub.exe
brew_butler/Scripts/pyrsa-verify.exe
brew_butler/Scripts/python.exe
brew_butler/Scripts/pythonw.exe
brew_butler/Scripts/tika-python.exe
brew_butler/Scripts/wheel.exe
brew_butler/Scripts/__pycache__/fixup_speech_v1_keywords.cpython-38.pyc
brew_butler/Scripts/__pycache__/fixup_speech_v1p1beta1_keywords.cpython-38.pyc
__pycache__/helper.cpython-38.pyc
__pycache__/grabber.cpython-38.pyc
